* {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: hsl(210 20% 90%);
  overflow: hidden;
}

.polaroid__wrapper {
  --width: 40vmin;
  --aspect-ratio: 2.12 / 2.62;
  position: relative;
  transform: rotate(var(--rotation, 6deg)) scale(var(--scale, 1));
  transition: transform 0.1s ease;
}

.polaroid {
  --spread: 6px;
  --dot: hsl(74 29% 92%);
  width: var(--width);
  aspect-ratio: var(--aspect-ratio);
  background: radial-gradient(var(--dot) 1px, transparent 1px),
    radial-gradient(var(--dot) 1px, transparent 1px), hsl(74 29% 96%);
  background-size: var(--spread) var(--spread);
  background-position: 0 0, calc(var(--spread) * 0.5) calc(var(--spread) * 0.5);
  padding: calc((0.2 / 3.5) * var(--width));
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.polaroid__img {
  width: 100%;
  aspect-ratio: 1;
  filter: saturate(0.95) sepia(30%);
}

.polaroid__caption {
  font-size: calc(var(--width) * 0.065);
  display: grid;
  place-items: center;
  flex: 1;
  font-family: "Gloria Hallelujah", cursive;
  text-align: center;
  font-weight: bold;
}

.polaroid__wrapper:active {
  --rotation: 0deg;
  --scale: 0.8;
  --translation: 0;
  --opacity: 1;
}

.polaroid__shadow {
  background: hsl(0 0% 10% / 0.5);
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: var(--opacity, 0.2);
  filter: blur(5px);
  transform: translate(var(--translation, 10%), var(--translation, 10%)) scale(var(--scale, 1));
  transition: opacity 0.1s ease, transform 0.1s ease;
}


.polaroid__particles {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.polaroid__particle {
  height: calc(var(--width) * 0.1);
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(calc(var(--fly-my-pretties, 0) * var(--scale, 1))) rotate(calc(var(--rotation, 0) * 1deg)) translate(0, calc((var(--width) * 0.5) + ((var(--width) * 0.1) * var(--distance)))) rotate(calc(var(--spin, 0) * 1deg));
  opacity: calc(1 - var(--fly-my-pretties, 0));
}

.polaroid__particle svg {
  height: 100%;
  width: 100%;
  fill: hsl(var(--hue, 0) 90% 90%);
  stroke-width: 50px;
  overflow: visible !important;
  stroke: hsl(0 0% 15%);
}

.polaroid__wrapper:active {
  --fly-my-pretties: 1;
}

.polaroid__wrapper:active .polaroid__particle {
  --speed: 0.5;
  transition: transform calc(var(--speed) * 0.5s), opacity calc(var(--speed) * 0.5s) calc(var(--speed) * 0.5s) ease-out;
}